/* ======  common css styles ======== */
* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all linear 0.3s;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.btn__primary,
.btn__secondary {
    padding: 20px 40px;
    background: #FF42A5;
    border-radius: 48px;
    border: 0;
}

.btn__secondary {
    background: #4EC5F7;
    margin-left: 24px;
}

/* ======  head css styles ======== */


/* ======  head css styles ======== */
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    
}

.nav__logo {
    font-size: 45px;
    font-weight: 700;
    display: flex;
    align-items: center;
    line-height: 0.8;
    
}

.logo__text {
    margin-left: 20px;
}

.g__text {
    color: #ff42a5;
}

.nav__menu {
    display: flex;
    align-items: center;
    
    gap: 32px;
}

.nav__menu a {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav__search {
    position: relative;
}

.nav__search input {
    padding: 17px 24px;
    border: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    outline: 0;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;

}

.nav__icons {
    display: flex;
    gap: 16px;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.nav__icons li a i {
    font-size: 24px;
}

/* ======  banner css styles ======== */
#banner {
    margin-top: 50px;
    background: url(../images/Group\ 14.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.banner__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.banner__title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner__heading {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner__text__list {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin: 24px 0 40px 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.banner__text__list li {
    display: flex;
    align-items: center;
    gap: 12px;
}

.banner__img img {
    width: 100%;
}

/* ======  gamer css styles ======== */
#gamer {
    padding: 100px 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.gamer__img img {
    width: 100%;
}

.gamer__content {
    text-align: right;
}

.gamer__heading {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer__details {
    color: #534C64;
    font-size: 18px;
    line-height: 30px;
    max-width: 520px;
    margin: 24px 0 32px 0;
}

.gamer__purpose {
    margin-top: 24px;
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
}

.purpose__sloan {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

/* ======  gamer funny css styles ======== */
#gamer__funny {
    padding: 120px 0;
}

.funny__heading {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    
}

.funny__color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.funny__title {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.funny__gallary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 48px;
}

.funny__img {
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    border: 5px solid transparent;
    height: 400px;
    width: 342px;
}
.funny__img img{
    height: 100%;
    width: 100%;
}

.funny__img:hover .funny__overly {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    border: 5px solid #ff42a5;
}

.funny__overly {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
    border-radius: 16px;
}

.funny__watch {
    font-size: 20px;
    font-weight: 600;
    color: #FF42A5;
    margin-top: 16px;
}

.funny__img img {
    width: 100%;
}

.funny__img__title {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 24px;
}

/* ======  instant css styles ======== */
#instant {
    padding: 120px 0;
}

.instant__container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 264px;
    
}

.instant__heading {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.instant__pink {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant__details {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 353px;
    margin-top: 24px;
}

.instant__img img {
    width: 100%;
}

.instant__big__img {
    position: relative;
}

.instant__small__img {
    position: absolute;
    left: -20%;
    bottom: -10%;
}

/* ======  head css styles ======== */
#anywhere {
    padding-bottom: 120px;
}

.anywhere__container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 264px;
    flex-direction: row-reverse;
    
}

.anywhere__container .instant__heading,
.instant__details {
    text-align: left;
}

.anywhere__small__img {
    position: absolute;
    bottom: -20%;
    right: -10%;
}

/* ======  career css styles ======== */
#career {
    margin-top: 120px;
    background: url(../images/Group\ 65.png), linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding: 120px 0;
    color: #FFF;
}

.career__content {
    max-width: 680px;
}

.career__heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.career__details {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0 32px 0;
}

.career__list__main {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.career__list__two {
    text-align: right;
}

#career button {
    background: #FFF;
    color: #FF42A5;
}
.career__img{
    display: none;
}
/* ======  games css styles ======== */
#games {
    padding: 120px 0;
}

.games__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
}

.games__items {
    display: flex;
    align-items: center;
    gap: 16px;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 10px;
    transition: all linear 0.3s;
}

.games__type {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.games__items:hover {
    border: 1px solid #ff42a5;
    border-radius: 50px;
}

.games__items:hover .games__type {
    color: #ff42a5;
}

/* ======  footer css styles ======== */
footer {
    text-align: center;
    background: #0B0223;
    padding: 120px 0;
}

.footer__logo {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 0.8;
}

.footer__links {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 56px 0;
    
}

.footer__links a {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;

}

.footer__icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.footer__links__two {
    display: flex;
    justify-content: center;
    gap: 60px;
    
    margin: 74px 0 28px 0;
}

.footer__links__two a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.copyright a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}